{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block top_heading %}Dashboard{% endblock %} 

{% block user_first_name1 %}{{user.first_name}} {% endblock %} 
{% block user_first_name2 %}{{user.first_name}} {% endblock %} 
{% block user_last_name %}{{user.last_name}} {% endblock %}
{% block username %}{{user.username}} {% endblock %}

 
{% block content %}
<section class="section dashboard">
    <div class="row">

      <!-- Left side columns -->
      <div class="col-lg-8">
        <div class="row">

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                    <div class="card-body">
                        <h5 class="card-title">Total Normal Employees <span></span></h5>

                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people-fill"></i>
                          </div>
                          <div class="ps-3">
                              <h6 class ="value" akhi="{{no_of_normal_employees}}">0</h6>
                              <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                          </div>
                        </div>
                    </div>
                
                </div>
            </div><!-- End Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">

                  <div class="card-body">
                      <h5 class="card-title">Total shift Employees <span></span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people-fill"></i>
                        </div>
                        <div class="ps-3">
                            <h6 class ="value" akhi="{{no_of_shift_employees}}">0</h6>
                            <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                        </div>
                      </div>
                  </div>
              
              </div>
          </div><!-- End Sales Card -->
            
            <div class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">

                    <div class="card-body">
                        <h5 class="card-title">Last Month Total Salary <span></span></h5>

                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        <div class="ps-3">
                            <h6 class ="value" akhi="156000.0">0</h6>
                            <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                        </div>
                        </div>
                    </div>
                
                </div>
            </div><!-- End Sales Card -->
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Salary Summary Chart</h5>

        <!-- Column Chart -->
        <div id="columnChart"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            
            
          });
        </script>
        <!-- End Column Chart -->

      </div>
    </div>
  </div>

</section>

<script>
  const counters = document.querySelectorAll('.value');
  const speed = 200;

  counters.forEach( counter => {
    const animate = () => {
        const value = +counter.getAttribute('akhi');
        const data = +counter.innerText;
      
        const time = value / speed;
      if(data < value) {
            counter.innerText = Math.ceil(data + time);
            setTimeout(animate, 1);
          }else{
            counter.innerText = value;
          }
      
    }
    
    animate();
});
$( document ).ready(function() {
  console.log("Inside")
  $.ajax({
        type: 'GET',
        url: "{% url 'get_salary_summary_data' %}",
        success: function (response) { 
            new ApexCharts(document.querySelector("#columnChart"), {
              series: [ {
                name: 'Net Salary',
                data: [response["monthly_net_salary_payed_record"][0][2], response["monthly_net_salary_payed_record"][1][2], response["monthly_net_salary_payed_record"][2][2], response["monthly_net_salary_payed_record"][3][2], response["monthly_net_salary_payed_record"][4][2], response["monthly_net_salary_payed_record"][5][2]]
              }],
              chart: {
                type: 'bar',
                height: 350
              },
              plotOptions: {
                bar: {
                  horizontal: false,
                  columnWidth: '70%',
                  endingShape: 'rounded'
                },
              },
              dataLabels: {
                enabled: false
              },
              stroke: {
                show: true,
                width: 2,
                colors: ['transparent']
              },
              xaxis: {
                categories: [response["monthly_net_salary_payed_record"][0][1], response["monthly_net_salary_payed_record"][1][1], response["monthly_net_salary_payed_record"][2][1], response["monthly_net_salary_payed_record"][3][1], response["monthly_net_salary_payed_record"][4][1], response["monthly_net_salary_payed_record"][5][1]],
              },
              yaxis: {
                title: {
                  text: 'Rs (Rupees)'
                }
              },
              fill: {
                opacity: 1
              },
              tooltip: {
                y: {
                  formatter: function(val) {
                    return "Rs " + val 
                  }
                }
              }
            }).render();
        }
    });
  
});

</script>

{% endblock %}