{% extends "base.html" %}
{% load static %}

{% block title %} Advance Payments {% endblock%}

{% block top_heading %}Payroll Management{% endblock %}
{% block sub_heading %} Advance Payments{% endblock %}
{% block sub_heading2 %} Advance Payments{% endblock %}

{% block content %}
<form method="POST" id ="advance_payment_form">
    {% csrf_token %}
    <div class="card formss">
        <div class="card-body row g-3">
            <h5 class="card-title">Make an Advance Payment</h5>
            <div class="col-md-2">
                <label class="col-form-label" for="advance_payment_view_emp_id">Employee ID</label>
                <div class="">
                    <input data-url="{% url 'get_emp_name_view' %}" class="form-control" type="text"
                        name="advance_payment_view_emp_id" id="advance_payment_view_emp_id" required>
                </div>
            </div>

            <div class="col-md-5">
                <label class=" col-form-label" for="advance_payment_emp_name">Name</label>
                <div class="">
                    <input class="form-control" type="text" name="advance_payment_emp_name"
                        id="advance_payment_emp_name" disabled required>
                </div>
            </div>

            <div class="col-md-2">
                <label class=" col-form-label" for="advance_payment_date">Date</label>
                <div class="">
                    <input  class="form-control" type="date"
                        name="advance_payment_date" id="advance_payment_date" required>
                </div>
            </div>
            <div class="col-md-2">
                <label class="col-form-label" for="advance_payment_amount">Advance Amount</label>
                <div class="">
                    <input data-url="{% url 'get_emp_name_view' %}" class="form-control" type="text"
                        name="advance_payment_amount" id="advance_payment_amount" required>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="card formss">
    <div class="card-body ">
        <h5 class="card-title">Advance Payments</h5>

        <!-- Table with hoverable rows -->
        <table class="table table-hover table_bordered">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Payment Amount</th>

                </tr>
            </thead>
            <tbody id="advance_payment_table">
            </tbody>
        </table>
        <!-- End Table with hoverable rows -->

    </div>
</div>


<script>
    console.log("Workinggggllllll");
    //Get employee name and Data
    var attendance_view_emp_id_input = document.getElementById("advance_payment_view_emp_id");
    var attendance_view_emp_name_input = document.getElementById("advance_payment_emp_name");
    attendance_view_emp_id_input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
            event.preventDefault();
            attendance_view_emp_name_input.value = "";
            attendance_view_emp_id = attendance_view_emp_id_input.value;


            $.ajax({
                type: 'POST',
                url: "{% url 'get_emp_name_view' %}",
                data: {
                    name: attendance_view_emp_id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    attendance_view_emp_name_input.value = response.name
                    
                }
            });
            $.ajax({
                type: 'POST',
                url: "{% url 'get_advance_payment_data' %}",
                data: {
                    emp_id: attendance_view_emp_id,
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (response) {
                    $("#advance_payment_table").empty()
                    var i = 0;
                    while (i < response['advance_payment_data_list'].length) {
                        $("#advance_payment_table").append('<tr><td>' + response["advance_payment_data_list"][i]['date'] + '</td><td>' + response["advance_payment_data_list"][i]['amount'] + '</td></tr> ')
                        i++
                    }
                }
            });
        }
    });

    //Submit Advance Payment
        var advance_payamount_input = document.getElementById("advance_payment_amount");
        var advance_payment_view_emp_id_input = document.getElementById("advance_payment_view_emp_id");
        var advance_payment_date_input = document.getElementById("advance_payment_date");
        var advance_payment_form = document.getElementById("advance_payment_form");
        advance_payamount_input.addEventListener("keypress", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                emp_id = advance_payment_view_emp_id_input.value
                date = advance_payment_date_input.value
                advance_payamount_value = advance_payamount_input.value


                $.ajax({
                    type: 'POST',
                    url: "{% url 'advance_payments_view' %}",
                    data: {
                        emp_id: emp_id,
                        date : date,
                        amount : advance_payamount_value,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (response) {

                        $("#advance_payment_table").append('<tr><td>' + date + '</td><td>' + advance_payamount_value + '</td></tr> ')
                        advance_payamount_input.value = ""
                    }
                });
            }
        });

    //Get Attendance Data
    function getAttendanceData() {
        var attendance_view_emp_id = document.getElementById("attendance_view_emp_id").value;
        var attendance_view_month_year = document.getElementById("attendance_view_month_year").value;
        $.ajax({
            type: 'POST',
            url: "{% url 'payroll_test_view' %}",
            data: {
                emp_id: attendance_view_emp_id,
                month: attendance_view_month_year,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                $("#attendance_data_table").empty()
                console.log(response['total_working_hours'])
                console.log(response['total_ot_hours'])
                var i = 0;
                while (i < response['attendance_list'].length) {
                    $("#attendance_data_table").append('<tr><td>' + response['attendance_list'][i]['date'] + '</td ><td>' + response['attendance_list'][i]['day'] + '</td><td>' + response['attendance_list'][i]['in_time'] + '</td><td>' + response['attendance_list'][i]['out_time'] + '</td><td>' + response['attendance_list'][i]['working_hours'] + '</td><td>' + response['attendance_list'][i]['ot_hours'] + '</td>')

                    i++
                }
            }
        });
    }


</script>


{% endblock %}