{% extends "base.html" %}

{% block title %} New Employee {% endblock%}

{% block top_heading %}Employee Management{% endblock %}
{% block sub_heading %} New Employee{% endblock %}
{% block sub_heading2 %} New Employee{% endblock %}

{% block user_first_name1 %}{{user.first_name}} {% endblock %} 
{% block user_first_name2 %}{{user.first_name}} {% endblock %} 
{% block user_last_name %}{{user.last_name}} {% endblock %}
{% block username %}{{user.username}} {% endblock %}

{% block content %}
<div class="card formss" >
    <div class="card-body">
        <form method="POST" class="row g-3 ">
            {% csrf_token %}
            <div class="col-md-4">
                <label class="col-form-label" for="emp_id">Employee ID</label>
                <div class="">
                    <input class="form-control" type="text" name="emp_id" id="emp_id" required onchange="checkEmpIdAvailablity();">
                </div>
                
            </div>
            
            <!-- <div class="col-md-4">
                <label class=" col-form-label" for="department">Department</label>
                <div class="">
                    <input class="form-control " type="text" name="department" id="department" >
                </div>
            </div> -->
            <div class="col-md-4">
                <label class=" col-form-label" for="department">Department</label>
                <div class="">
                    <select class="form-control" name="department" id="department">
                        {% for department in departments %}
                            <option value={{department.id}}>{{department.department}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class=" col-form-label" for="emp_type">Employee Type</label>
                <div class="">
                    <select class="form-control" name="emp_type" id="emp_type">
                        <option value=0>Normal Employee</option>
                        <option value=1>Shift Employee</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <label class=" col-form-label" for="name">Name</label>
                <div class="">
                    <input class="form-control " type="text" name="name" id="name" required>
                </div>
            </div>
            
            
            <div class="col-md-6">
                            <label class=" col-form-label" for="epf-no">EPF No</label>
                            <div class="">
                                <input class="form-control" type="text" name="epf_no" id="epf_no">
                            </div>
                        
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="nic_no">NIC No</label>
                            <div class="">
                                <input class="form-control" type="text" name="nic_no" id="nic_no">
                            </div>
                            
            </div>

            <!-- <div class="col-md-6">
                            <label class=" col-form-label" for="appoinment_date">Appoinment Date</label>
                            <div class="">
                                <input class="form-control" type="date" name="appoinment_date" id="appoinment_date">
                            </div>
                        
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="termination_date">Termination Date</label>
                            <div class="">
                                <input class="form-control" type="date" name="termination_date" id="termination_date">
                            </div>
                            
            </div> -->

            <div class="col-md-12">
                            <label class=" col-form-label" for="address">Address</label>
                            <div class="">
                                <input class="form-control" type="text" name="address" id="address">
                            </div>
                            
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="mobile_no">Mobile No</label>
                            <div class="">
                                <input class="form-control" type="text" name="mobile_no" id="mobile_no">
                            </div>
                            
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="email">Email</label>
                            <div class="">
                                <input class="form-control" type="text" name="email" id="email">
                            </div>
                            
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="bank_name">Bank Name</label>
                            <!-- <div class="">
                                <input class="form-control" type="text" name="bank_name" id="bank_name">
                            </div> -->
                            <div class="">
                                <select class="form-control" name="bank_name" id="bank_name" onchange="bank_branch_select();">
                                    {% for bank in banks %}
                                        <option value={{bank.bank_id}}>{{bank.bank_name}}</option>
                                    {% endfor %}
                                </select>     
                </div>
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_branch">Bank Branch Name</label>
                <div class="">
                    <select class="form-control" name="bank_branch" id="bank_branch">
                        
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_acc_name">Bank Account Name</label>
                <div class="">
                    <input class="form-control" type="text" name="bank_acc_name" id="bank_acc_name">
                </div>
            
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_acc_no">Bank Account No</label>
                <div class="">
                    <input class="form-control" type="text" name="bank_acc_no" id="bank_acc_no">
                </div>
            
            </div>
            <div class="text-center">
                            <button class="btn btn-primary">Create Employee</button>
            </div>
        </form>
    </div>
</div>

<script>
    function checkEmpIdAvailablity(){
        var emp_id = document.getElementById("emp_id").value

        $.ajax({
            type: 'POST',
            url: "{% url 'check_emp_id_availability' %}",
            data: {
                emp_id: emp_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (response) {
                if (response.status == 1){
                    $("#messeges_container").empty()
                    $("#messeges_container").append('<div class="alert alert-danger alert-dismissible fade show formss" role="alert"><strong>Employee Exists ! </strong>An employee already exists for entered employee ID <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')
                }else{

                }
            }
        });
    }
    
    function bank_branch_select(){
        var bank_select = document.getElementById("bank_name")
        var branch_select = document.getElementById("bank_branch");
        bank = bank_select.value

        $.ajax({
        type: 'POST',
        url: "{% url 'get_bank_branches' %}",
        data: {
            bank: bank,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (response) {
            branch_select.innerHTML = "";
            for (var i = 0; i < response["branches"].length; i++) {
                let newOption = new Option(response["branches"][i][1],response["branches"][i][0]);
                branch_select.add(newOption,undefined);
            }
        }
    });
    }
</script>


{% endblock %}