{% extends "base.html" %}

{% block title %} Employee Summary {% endblock%}

{% block top_heading %}Employee Management{% endblock %}
{% block sub_heading %} Employee Summary{% endblock %}
{% block sub_heading2 %} Employee Summary{% endblock %}

{% block user_first_name1 %}{{user.first_name}} {% endblock %} 
{% block user_first_name2 %}{{user.first_name}} {% endblock %} 
{% block user_last_name %}{{user.last_name}} {% endblock %}
{% block username %}{{user.username}} {% endblock %}

{% block content %}
<div class="card formss" >
    <div class="card-body">
        <form method="POST" class="row g-3 "> 
            {% csrf_token %}
            <div class="col-md-2">
                <label class="col-form-label" for="emp_id">Employee ID</label>
                <div class="">
                    <input class="form-control" type="text" name="emp_id" id="emp_id" value="{{employee.emp_id}}" readonly>
                </div>
                
            </div>
            
            <!-- <div class="col-md-3">
                <label class=" col-form-label" for="department">Department</label>
                <div class="">
                    <input class="form-control " type="text" name="department" id="department" value="{{employee.dprtmnt}}" >
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <label class=" col-form-label" for="department">Department</label>
                <div class="">
                    <select class="form-control" name="department" id="department">
                        {% for department in departments %}
                            <option value={{department.id}}>{{department.department}}</option>
                        {% endfor %}
                        
                    </select>
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <label class=" col-form-label" for="emp_type">Employee Type</label>
                <div class="">
                    <input class="form-control " type="text" name="department" id="department" {% if employee.emp_type == 0 %} value="Normal Employee" {% else %} value="Shift Employee" {% endif %}>
                </div>
            </div> -->
            <div class="col-md-6">
                <label class=" col-form-label" for="name">Name</label>
                <div class="">
                    <input class="form-control " type="text" name="name" id="name" value="{{employee.name}}" readonly>
                </div>
            </div>

            <div class="col-md-2">
                <label class=" col-form-label" for="name">Joined Date</label>
                <div class="">
                    <input class="form-control " type="text" name="name" id="name" value="{{employee.appoinment_date}}" readonly> 
                </div>
            </div>
            <div class="col-md-2">
                <label class=" col-form-label" for="name">Resigned Date</label>
                <div class="">
                    <input class="form-control " type="text" name="name" id="name" value="{{employee.termination_date}}" readonly> 
                </div>
            </div>
            
            
            <!-- <div class="col-md-6">
                            <label class=" col-form-label" for="epf-no">EPF No</label>
                            <div class="">
                                <input class="form-control" type="text" name="epf_no" id="epf_no" value="{{epf_no}}">
                            </div>
                        
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="nic_no">NIC No</label>
                            <div class="">
                                <input class="form-control" type="text" name="nic_no" id="nic_no">
                            </div>
                            
            </div> -->

            <!-- <div class="col-md-6">
                            <label class=" col-form-label" for="appoinment_date">Appoinment Date</label>
                            <div class="">
                                <input class="form-control" type="date" name="appoinment_date" id="appoinment_date">
                            </div>
                        
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="termination_date">Termination Date</label>
                            <div class="">
                                <input class="form-control" type="date" name="termination_date" id="termination_date">
                            </div>
                            
            </div> -->

            <!-- <div class="col-md-12">
                            <label class=" col-form-label" for="address">Address</label>
                            <div class="">
                                <input class="form-control" type="text" name="address" id="address">
                            </div>
                            
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="mobile_no">Mobile No</label>
                            <div class="">
                                <input class="form-control" type="text" name="mobile_no" id="mobile_no">
                            </div>
                            
            </div>

            <div class="col-md-6">
                            <label class=" col-form-label" for="email">Email</label>
                            <div class="">
                                <input class="form-control" type="text" name="email" id="email">
                            </div>
                            
            </div> -->

            <!-- <div class="col-md-6">
                            <label class=" col-form-label" for="bank_name">Bank Name</label>

                            <div class="">
                                <select class="form-control" name="bank_name" id="bank_name" onchange="bank_branch_select();">
                                    {% for bank in banks %}
                                        <option value={{bank.bank_id}}>{{bank.bank_name}}</option>
                                    {% endfor %}
                                </select>     
                </div>
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_branch">Bank Branch Name</label>
                <div class="">
                    <select class="form-control" name="bank_branch" id="bank_branch">
                        
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_acc_name">Bank Account Name</label>
                <div class="">
                    <input class="form-control" type="text" name="bank_acc_name" id="bank_acc_name">
                </div>
            
            </div>
            <div class="col-md-6">
                <label class=" col-form-label" for="bank_acc_no">Bank Account No</label>
                <div class="">
                    <input class="form-control" type="text" name="bank_acc_no" id="bank_acc_no">
                </div>
            
            </div> -->
            <!-- <div class="text-center">
                            <button class="btn btn-primary">Create Employee</button>
            </div> -->
        </form>
    </div>
</div>

<div class="card formss">
    <div class="card-body">
        <h5 class="card-title">Attendence Summary Chart</h5>

        <!-- Column Chart -->
        <div id="attendenceSumamryChart"></div>
        <!-- End Column Chart -->

    </div>
</div>


<script>
    $( document ).ready(function() {
        var employee_id = document.getElementById("emp_id").value
        $.ajax({
        type: 'POST',
        url: "{% url 'get_attendence_summary_data' %}",
        data: {
            employee_id: employee_id,
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (response) {
            console.log(response["yearly_attendance_record"]) 
            new ApexCharts(document.querySelector("#attendenceSumamryChart"), {
                        series: [{
                          name: 'Days',
                        //   data: [31, 40, 28, 51, 42, 82],
                          data: [response["yearly_attendance_record"][0][1], response["yearly_attendance_record"][1][1], response["yearly_attendance_record"][2][1], response["yearly_attendance_record"][3][1], response["yearly_attendance_record"][4][1], response["yearly_attendance_record"][5][1],response["yearly_attendance_record"][6][1], response["yearly_attendance_record"][7][1], response["yearly_attendance_record"][8][1], response["yearly_attendance_record"][9][1], response["yearly_attendance_record"][10][1], response["yearly_attendance_record"][11][1]],
                        }],
                        chart: {
                          height: 350,
                          type: 'area',
                          toolbar: {
                            show: false
                          },
                        },
                        markers: {
                          size: 4
                        },
                        colors: ['#4154f1'],
                        fill: {
                          type: "gradient",
                          gradient: {
                            shadeIntensity: 1,
                            opacityFrom: 0.3,
                            opacityTo: 0.4,
                            stops: [0, 90, 100]
                          }
                        },
                        dataLabels: {
                          enabled: false
                        },
                        stroke: {
                          curve: 'smooth',
                          width: 2
                        },
                        xaxis: {
                          type: 'text',
                          categories: [response["yearly_attendance_record"][0][0], response["yearly_attendance_record"][1][0], response["yearly_attendance_record"][2][0], response["yearly_attendance_record"][3][0], response["yearly_attendance_record"][4][0], response["yearly_attendance_record"][5][0],response["yearly_attendance_record"][6][0], response["yearly_attendance_record"][7][0], response["yearly_attendance_record"][8][0], response["yearly_attendance_record"][9][0], response["yearly_attendance_record"][10][0], response["yearly_attendance_record"][11][0]]
                        },
                        // tooltip: {
                        //   x: {
                        //     format: 'dd/MM/yy HH:mm'
                        //   },
                        // }
                      }).render();
        }
            // console.log(response["monthly_net_salary_payed_record"][0], response["monthly_net_salary_payed_record"][1], response["monthly_net_salary_payed_record"][2], response["monthly_net_salary_payed_record"][3][1], response["monthly_net_salary_payed_record"][4][3], response["monthly_net_salary_payed_record"][5][3])
    });
});
    
</script>


{% endblock %}