{% extends "base.html" %}
{% load static %}

{% block title %} Admin {% endblock %}

{% block top_heading %}Admin{% endblock %}
{% block sub_heading %} Admin{% endblock %}
{% block sub_heading2 %} Admin{% endblock %}

{% block user_first_name1 %}{{user.first_name}} {% endblock %} 
{% block user_first_name2 %}{{user.first_name}} {% endblock %} 
{% block user_last_name %}{{user.last_name}} {% endblock %}
{% block username %}{{user.username}} {% endblock %}
{% block content %}
<div class="modal fade" id="edit_department_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
        <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Department</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <!-- Vertical Form -->
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Department</label>
                                <input type="text" data-id="" class="form-control" id="edit_department" name="edit_department">
                            </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button onclick="editDepartment();" id="department_edit_save_button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
    </form><!-- Vertical Form -->
    </div>
</div>
<form method="POST" action ="{% url 'edit_company_details_view' %}">
    {% csrf_token %}
    <div class="card formss">
        <div class="card-body row g-3">
            <h5 class="card-title">Company Details</h5>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_name">Company Name</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_name" id="admin_company_name" value="{{company_details.name}}" required>
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_name">EPF Registration No</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_epf_no" id="admin_company_epf_no" value="{{company_details.epf_no}}">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_name">Company Address</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_address" id="admin_company_address" value="{{company_details.address}}">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_name">Bank & Branch</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_bank_branch" id="admin_company_bank_branch" value="{{company_details.bank_branch}}">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_name">Contact No</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_contact_no" id="admin_company_contact_no" value="{{company_details.contact_no}}">
                </div>
            </div>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_company_email">Email</label>
                <div class="">
                    <input class="form-control" type="text"
                        name="admin_company_email" id="admin_company_email" value="{{company_details.email}}">
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>
<form method="POST" action ="{% url 'add_department_view' %}"id="allowance_form">
    {% csrf_token %}
    <div class="card formss">
        <div class="card-body row g-3">
            <h5 class="card-title">Departments</h5>
            <div class="col-md-6">
                <label class="col-form-label" for="admin_department_name">Department Name</label>
                <div class="">
                    <input data-url="{% url 'get_emp_name_view' %}" class="form-control" type="text"
                        name="admin_department_name" id="admin_department_name" required>
                </div>
            </div>
            <div class="col-md-2">
                <label class=" col-form-label" for="attendance_view_emp_name">Add New Department</label>
                <div class="">
                    <button id="payroll_employee_salary_pdf_generate_button" class="btn btn-primary">Add Department</button>
                </div>
            </div>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      Department List
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th scope="col">Department Name</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody id="attendance_data_table" >
                            {% for department in departments %}
                        <tr>
                            <td class="fs-6">{{ department.department }}</td>
                            <td><button id="department_edit_button" data-bs-toggle="modal" data-bs-target="#edit_department_model" data-id={{department.id}} data-department ={{department.department}} class="btn btn-primary btn-sm">Edit</button></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            
                        </tr>
                        
                        </tbody>
                    </table>
                    </div>
                  </div>
                </div>
        </div>
    </div>
</form>

<script>
    
var department_edit_button = document.getElementById("department_edit_button");
department_edit_button.addEventListener("click", function(event) {
  event.preventDefault();
});

document.getElementById("department_edit_save_button").addEventListener("click", function(event) {
  event.preventDefault();
});
$('#edit_department_model').on('show.bs.modal', function (event) {
    
    console.log("oay")
    var button = $(event.relatedTarget) // Button that triggered the modal
    var department = button.data('department') 
    var department_id = button.data('id')
    console.log(department,department_id)
    var modal = $(this)
    modal.find('#edit_department').val(department)
    modal.find('#edit_department').attr('data-id', department_id)
    })

function editDepartment(){
        var xhr = new XMLHttpRequest(); // Create XHR object

        department_id = document.getElementById("edit_department").getAttribute("data-id")
        department_name = document.getElementById("edit_department").value
        token = $('input[name=csrfmiddlewaretoken]').val()

        function sendData(data) {
                console.log('Sending data');

                const XHR = new XMLHttpRequest();

                const urlEncodedDataPairs = [];

                // Turn the data object into an array of URL-encoded key/value pairs.
                for (const [name, value] of Object.entries(data)) {
                    urlEncodedDataPairs.push(`${encodeURIComponent(name)}=${encodeURIComponent(value)}`);
                }

                // Combine the pairs into a single string and replace all %-encoded spaces to
                // the '+' character; matches the behavior of browser form submissions.
                const urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');
                // Define what happens on successful data submission
                XHR.addEventListener('load', (event) => {
                    // alert('Yeah! Data sent and response loaded.');
                    var a;
                    if (XHR.readyState === 4 && XHR.status === 200) {
                        location.reload();
                    }
                });
                // Define what happens in case of an error
                XHR.addEventListener('error', (event) => {
                    alert('Oops! Something went wrong.');
                });

                // Set up our request
                XHR.open('POST', "{% url 'edit_department_view' %}");

                // Add the required HTTP header for form data POST requests
                XHR.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                // Finally, send our data.
                XHR.send(urlEncodedData);
                }
            sendData({ department_id: department_id,department_name:department_name,csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val() });

        }
</script>

{% endblock %}